.logo {
  height: 4em;
  border-radius: 30px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2em #646cffaa);
}



@media screen and (max-width: 800px ) {
  .logo {
    height: 3em;
  }
}
